name: Node.js Package
on:
  release:
    types: [created]
jobs:
  publish-gpr:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    strategy:
      matrix:
        node-version: [14.x]
    steps:
      - name: Install dependencies, run tests and publish
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: https://npm.pkg.github.com/
        env:
          NODE_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          npm ci
          npm install
          npm run build --if-present
          npm test
          npm publish
